div {
    padding: 0% 0% 0% 0%;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title img {
    max-width: 100px;
}
.search {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: right;
}
.search input {
    flex: 1 1 165px;
}
.search img {
    max-width: 50px;
    padding: 1px;
}
.recipe {
    display: flex;
    grid-template-columns: auto auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    flex-direction: column;
    align-items: center;
}
.recipe-content {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    padding: 8px 8px 8px 8px;
}
.recipe-content img {
    width: 200px;
    justify-self: center;
    padding: 8px 8px 8px 8px;
}
.tag {
    background-color: grey;
    border: 2px solid black;
    border-radius: 8px;
}
h2 {
    color: darkcyan;
}
footer {
    display: flex;
    justify-content: space-between;
}
footer div img {
    width: 50px;
}
@media screen and (max-width: 550px) {
    .recipe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe p {
        display: none;
    }
    .recipe-content {
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}