.title{
    display: flex;
    border: 5px solid #0c1618;
    border-radius: 10px;
}
.title img{
    max-width: 25%;
}
h1{
    color:#0C1618;
}
.search{
    display: flex;
    justify-content: right;
    border: 3px solid #004643;
}
.search img{
    max-width: 25%;
}
.tree{
    display: flex;
    justify-content: center;
}
.tree-content{
    border: 5px solid #A43312;
    text-align: center;
    display: grid;
}
.tree-content img{
    max-width: 100%;
}
dialog img{
    max-width: 50%;
}
